<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinning Wheel</title>
    <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel="stylesheet">
        <link rel="icon" type="image" href="../../Icons/logo.png">

    
    <link rel="stylesheet" href="/css/spinning_wheel.css">
    
       
   
</head>
<body style="height: 800px; padding-left: 90px">
  <div class="header">
    <div class="left">
      <img class="logoimage" src="/images/logo.png" alt="zenith logo" />
    </div>

    <h1 class="mid">Spinning Wheel</h1>

    <div class="right">
     
    </div>
  </div>


  

    </div>
    <div style="
    height: 200px;
    width: 200px;
    position: static;
    margin-top: 60px;
    margin-left: 60px;
    "> <div>
       <div class="wheel">
        <span class="wheel-container">
            <div id="mainbox" class="mainbox">
              <div id="box" class="box">
                <div class="box1">
                  <span class="span1"><b>Gaming</b></span>
                  <span class="span2"><b>Homework</b></span>
                  <span class="span3"><b>Sport</b></span>
                  <span class="span4"><b>Sleep</b></span>
                </div>
                <div class="box2">
                  <span class="span1"><b>Eat</b></span>
                  <span class="span2"><b>Rest</b></span>
                  <span class="span3"><b>Talk</b></span>
                  <span class="span4"><b>Work</b></span>
                </div>
              </div>
                <button class="spin" onclick="myfunction()">SPIN</button>
            </div>
        </span> 
        <div>
            <div id="Scrollimage">
                <span id="quote" class="quote"> TAP "SPIN" to get some fun suggestion! <span>
              </div>
        </div>   
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/spinning_wheel.js"></script>

 
    </body>
</html>
